@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

$font-family: 'Montserrat', sans-serif;
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-meduim: 500;
$font-semibold: 600;
$font-bold: 700;
