footer {
    background-color: $primary-color;
    font-family: $font-family;

    .register-btns {
        border-bottom: 1px solid #9797976b;
        padding: 2rem 0;

        button {
            padding: .7rem 3rem;
            border: none;
        }
    }

    .main-footer-row {
        color: white;
        font-size: 1.6rem;
        font-weight: $font-semibold;

        .input-footer {
            border-bottom: 1px solid #9797976b;

            input {
                background-color: transparent;
                font-size: 1rem;
                border: none;
                color: white;
                width: 60%;
                
                &:focus {
                    outline: none;
                }
                
            }
            button {
                border-radius: 10px 10px 0 0;
            }

        }
        .download-link {
            max-width: 400px;
        }    
        .footer-lists {
                li {
                    padding: .7rem 0;
                    a {
                        color: white;
                        font-size: .8rem;
                        font-weight: $font-regular;
                    }
                }
        }
    }
    .secondary-footer-row {
        ul {
            li {
                a {
                    color: white;
                    font-size: .8rem;
                }
            }

            &:last-child {
                li {
                    a {
                        font-size: 1.3rem;
                    }
                }
            }
        }


    }

    
}