@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
body {
  font-family: 400 !important;
  position: relative;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.604);
}

button {
  font-size: 0.8em;
  transition: all 500ms;
  min-width: 70px;
  padding: .5rem 1rem;
  border: none;
}

button:focus {
  outline: none;
}

.empty-btn {
  background-color: transparent;
  color: #000 !important;
  border: 1px solid black;
}

.empty-btn:hover {
  background-color: #000 !important;
  color: white !important;
}

.filled-btn {
  background-color: white !important;
  color: #1E2833 !important;
  border: 1px solid black;
}

.filled-btn:hover {
  background-color: #1E2833 !important;
  color: white !important;
}

.filled-primary-btn {
  background-color: #1E2833 !important;
  color: white !important;
  border: 1px solid #1E2833;
}

.filled-primary-btn:hover {
  background-color: white !important;
  color: #1E2833 !important;
}

.filled-secondary-btn {
  background-color: #8EBB4F !important;
  color: white !important;
  border: 1px solid #8EBB4F;
}

.filled-secondary-btn:hover {
  background-color: white !important;
  color: #8EBB4F !important;
}

.rounded-btn {
  border-radius: 10px;
}

.rounded-pill-btn {
  border-radius: 100px;
}

.card {
  background-color: transparent;
  border: none;
}

.card .card-header {
  padding: 0;
  background-color: transparent;
}

.card .card-header {
  position: relative;
}

.card .card-header .hidden {
  opacity: 0;
  transition: all 500ms ease-out;
}

.card .card-header .hidden img {
  position: absolute;
  top: 0;
  left: 0;
}

.card .card-header .hidden .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.6rem 0;
  text-align: center;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.795);
}

.card .card-header .hidden:hover {
  opacity: 1;
}

.card .card-body {
  text-align: center;
  font-size: 0.7rem;
  color: #727272;
  text-transform: uppercase;
}

.card .card-body a {
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
}

.card .card-body p span.cross-sale {
  text-decoration: line-through;
}

ul {
  font-size: 0.7rem;
}

ul li {
  list-style: none;
}

ul li span a img {
  width: 10%;
}

ul li.label {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

.form-group {
  border: 1px solid #efefef;
  padding: 2px 8px;
}

.form-group label {
  margin: 0 !important;
  color: #333;
  font-size: 0.8rem;
}

.form-group select, .form-group input {
  border: none !important;
}

.form-group select:active, .form-group select:focus, .form-group input:active, .form-group input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.form-group input {
  padding: .8rem;
  height: 0 !important;
}

header {
  background-color: #1E2833;
}

header .navbar-items .navbar-groups {
  margin: 0;
  padding: 0;
}

header .navbar-items .navbar-groups li {
  font-size: .8rem;
  font-family: 400;
  font-weight: 500;
}

header .navbar-items .navbar-groups li a {
  color: white;
}

header .navbar-items .navbar-groups li a span {
  padding: 0 1rem;
}

header .navbar-items .navbar-groups:first-child li {
  padding: 1.5rem 1.6rem;
}

header .navbar-items .navbar-groups:first-child li.active {
  background-color: white;
}

header .navbar-items .navbar-groups:first-child li.active a {
  color: black;
}

header .navbar-items .navbar-groups:first-child li.active a img {
  filter: invert(1);
}

header .navbar-items .navbar-groups:last-child li {
  padding: 1rem;
}

header .navbar-items .navbar-groups:last-child li button.dropdown-toggle {
  background-color: transparent;
  color: white;
  font-weight: 600;
}

header .navbar-items .navbar-groups:last-child li .dropdown-menu li {
  padding: .2rem 1rem;
}

header .navbar-items .navbar-groups:last-child li .dropdown-menu li a {
  color: black;
  padding: 0;
}

header.desktop-navbar .navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 0 0 15px 15px;
}

header.desktop-navbar .navbar-items .navbar-groups {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

header.desktop-navbar .navbar-items .navbar-groups:first-child li:first-child {
  background-color: white;
  border-radius: 0 0 0 15px;
}

header.mobile-navbar {
  width: 80%;
  height: 100vh;
  position: fixed;
  z-index: 5;
  left: -100%;
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

header.mobile-navbar.active {
  left: 0;
}

header.mobile-navbar .navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

header.mobile-navbar .navbar-items .navbar-groups:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

header.mobile-navbar .navbar-items .navbar-groups:last-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

header.mobile-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  width: 100%;
}

header.mobile-logo img {
  width: 100px;
  filter: invert(1);
}

header.mobile-logo .hamburgur {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header.mobile-logo .hamburgur span {
  display: inline-block;
  width: 20px;
  height: 1px;
  margin: 3px 0;
  background-color: white;
  transition: all 500ms ease-in-out;
  transform-origin: left center;
}

header.mobile-logo .hamburgur.active span:first-child {
  transform: rotate(45deg);
}

header.mobile-logo .hamburgur.active span:nth-child(2) {
  opacity: 0;
}

header.mobile-logo .hamburgur.active span:last-child {
  transform: rotate(-45deg);
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

footer {
  background-color: #1E2833;
  font-family: "Montserrat", sans-serif;
}

footer .register-btns {
  border-bottom: 1px solid #9797976b;
  padding: 2rem 0;
}

footer .register-btns button {
  padding: .7rem 3rem;
  border: none;
}

footer .main-footer-row {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}

footer .main-footer-row .input-footer {
  border-bottom: 1px solid #9797976b;
}

footer .main-footer-row .input-footer input {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  color: white;
  width: 60%;
}

footer .main-footer-row .input-footer input:focus {
  outline: none;
}

footer .main-footer-row .input-footer button {
  border-radius: 10px 10px 0 0;
}

footer .main-footer-row .download-link {
  max-width: 400px;
}

footer .main-footer-row .footer-lists li {
  padding: .7rem 0;
}

footer .main-footer-row .footer-lists li a {
  color: white;
  font-size: .8rem;
  font-weight: 400;
}

footer .secondary-footer-row ul li a {
  color: white;
  font-size: .8rem;
}

footer .secondary-footer-row ul:last-child li a {
  font-size: 1.3rem;
}

.profile {
  font-family: "Montserrat", sans-serif;
}

.profile .cover-image {
  height: clamp(250px, 40vw, 500px);
  background-position: center;
}

.profile-info {
  background-color: #E5E5E5;
  position: relative;
  top: -150px;
  border-radius: 20px;
}

.profile-info .buttons button {
  padding: .5rem 2rem;
  margin: 10px 0;
}

@media (max-width: 425px) {
  .profile-info .buttons button {
    width: 100%;
  }
}

.profile-image {
  max-width: 300px;
  border-radius: 20px;
}

.profile-list ul li {
  padding: 1.5rem 0;
}

.profile-list ul li a {
  color: black;
  font-size: .8rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .profile-list ul {
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
  }
  .profile-list ul li {
    padding: 1rem 3rem !important;
  }
  .profile-list ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .profile-list ul li a span {
    padding: 0 1rem;
  }
}

.profile-name h1 a {
  font-size: 1.5rem;
}

.profile-stats .stat-numbers {
  border-radius: 20px;
  border: 2px solid #B5B5B5;
  padding: 1.5rem 2rem;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}

.profile .products .title a {
  font-size: .9rem;
  color: #1E2833;
  text-decoration: underline;
}

.profile .search-input .search-background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: #c4c4c488;
  border-radius: 10px;
  width: clamp(80%, 90vw, 100%);
}

.profile .search-input .search-background input {
  border: none;
  background-color: transparent;
  margin: 0 20px;
  width: 100%;
}

.profile .search-input .search-background input:focus {
  outline: none;
}

.profile .search-input .search-background input::placeholder {
  font-size: .8rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.871);
}

.profile .search-input button {
  padding: .7rem 2.5rem;
}

.profile .product-items {
  font-family: "Montserrat", sans-serif;
}

.profile .product-items-item img {
  border-radius: 20px;
}
